@import url('https://fonts.googleapis.com/css2?family=Poppins:400&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
/*===== VARIABLES CSS =====*/
:root {
	--header-height: 3rem;

	/*========== Colors ==========*/
	--first-color: #00db1a;
	--first-color-alt: #00db1a;
	--background-icon-color: #c3f6c3;
	--icon-color: #00db1a;
	--title-color: #393939;
	--text-color: rgb(33, 43, 54);
	--nav-text-color: #ffffff;
	--text-color-light: #a6a6a6;
	--body-color: #fbfefd;
	--container-color: #ffffff;
	--padding-about: 1rem;
	--margin-about: 6rem;
	--padding-about-1: 3rem;
	--min-height: 75vh;

	/*========== Font and typography ==========*/
	--body-font: 'Poppins', sans-serif;
	--biggest-font-size: 2.25rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1rem;
	--h4-font-size: 0.985rem;
	--normal-font-size: 0.938rem;
	--small-font-size: 0.813rem;
	--smaller-font-size: 0.75rem;

	/*========== Font weight ==========*/
	--font-medium: 500;
	--font-semi-bold: 600;

	/*========== Margins ==========*/
	--mb-1: 0.5rem;
	--mb-2: 1rem;
	--mb-3: 1.5rem;
	--mb-4: 2rem;
	--mb-5: 2.5rem;
	--mb-6: 3rem;

	/*========== z index ==========*/
	--z-tooltip: 99;
	--z-fixed: 100;
}
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
	:root {
		--biggest-font-size: 3rem;
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1.25rem;
		--h4-font-size: 1.15rem;
		--normal-font-size: 1rem;
		--small-font-size: 0.875rem;
		--smaller-font-size: 0.813rem;
		--padding-about: 2rem;
		--margin-about: 6.5rem;
		--padding-about-1: 4.5rem;
		--min-height: 65vh;
	}
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media screen and (min-width: 768px) {
	:root {
		--biggest-font-size: 3rem;
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1.25rem;
		--h4-font-size: 1.15rem;
		--normal-font-size: 1rem;
		--small-font-size: 0.875rem;
		--smaller-font-size: 0.813rem;
		--padding-about: 2rem;
		--margin-about: 6.5rem;
		--padding-about-1: 4.5rem;
		--min-height: 70vh;
	}
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
header {
	height: 446px;
	position: relative;
	background-size: cover;
	background-position: center;
	background-image: url('https://res.cloudinary.com/dgisuffs0/image/upload/v1627396918/about_f0oav9.jpg');
}
/* Start of Navbar */
nav {
	padding-top: 3rem;
	left: 0;
	width: 100%;
	height: 100%;
	height: 70px;
	/* background: #3e8da8; */
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	z-index: 99;
}
nav .navbar {
	height: 100%;
	max-width: 1100px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	/* background: red; */
	padding: 0 50px;
}
.navbar .logo a {
	font-size: 30px;
	color: #fff;
	text-decoration: none;
	font-weight: 600;
}
.navbar .logo img {
	height: 70px;
	object-fit: cover;
}
nav .navbar .nav-links {
	line-height: 70px;
	height: 100%;
}
nav .navbar .links {
	display: flex;
	margin-top: -0.6rem;
}
nav .navbar .links li {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	padding: 0 14px;
}
nav .navbar .links li a {
	height: 100%;
	text-decoration: none;
	white-space: nowrap;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	transition: 0.3s ease;
}
nav .navbar .links li a:hover {
	height: 100%;
	text-decoration: none;
	white-space: nowrap;
	color: #f68c1f;
	font-size: 18px;
	font-weight: 500;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
	transform: rotate(180deg);
}

nav .navbar .links li .arrow {
	/* background: red; */
	height: 100%;
	width: 22px;
	line-height: 70px;
	text-align: center;
	display: inline-block;
	color: #fff;
	transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu {
	position: absolute;
	top: 60px;
	left: 0;
	line-height: 40px;
	background: #002791;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	border-radius: 0 0 4px 4px;
	display: none;
	z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
	display: block;
}
.navbar .links li .sub-menu li {
	padding: 0 22px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar .links li .sub-menu a {
	color: #fff;
	font-size: 15px;
	font-weight: 500;
}
.navbar .links li .sub-menu a:hover {
	color: #f68c1f;
	font-size: 15px;
	font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow {
	line-height: 40px;
}
/* .navbar .links li .htmlCss-more-sub-menu {
	line-height: 40px;
} */
.navbar .links li .sub-menu .more-sub-menu {
	position: absolute;
	top: 0;
	left: 100%;
	border-radius: 0 4px 4px 4px;
	z-index: 1;
	display: none;
}
.links li .sub-menu .more:hover .more-sub-menu {
	display: block;
}
.navbar .search-box {
	margin-top: 2rem;
	position: relative;
	height: 40px;
	width: 40px;
}
.navbar .search-box i {
	position: absolute;
	height: 100%;
	width: 100%;
	line-height: 40px;
	text-align: center;
	font-size: 22px;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
	transition: all 0.3s ease;
}
.navbar .search-box .input-box {
	position: absolute;
	right: calc(100% - 40px);
	top: 80px;
	height: 60px;
	width: 300px;
	background: #002791;
	border-radius: 6px;
	opacity: 0;
	pointer-events: none;
	transition: all 0.4s ease;
}
.navbar.showInput .search-box .input-box {
	top: 65px;
	opacity: 1;
	pointer-events: auto;
	background: #002791;
}
.search-box .input-box::before {
	content: '';
	position: absolute;
	height: 20px;
	width: 20px;
	background: #002791;
	right: 10px;
	top: -6px;
	transform: rotate(45deg);
}
.search-box .input-box input {
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 4px;
	transform: translate(-50%, -50%);
	height: 35px;
	width: 280px;
	outline: none;
	padding: 0 15px;
	font-size: 16px;
	border: none;
}
.navbar .action-links {
	padding-top: 2rem;
}
.navbar .button {
	background-color: #f68c1f;
	border: 2px solid #f68c1f;
	color: #fff;
	padding: 15px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	border-radius: 30px;
	cursor: pointer;
	transition: 0.2s ease;
}
.navbar .button:hover {
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
	padding: 15px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	border-radius: 30px;
	cursor: pointer;
}
.navbar .nav-links .sidebar-logo {
	display: none;
}
.navbar .bx-menu {
	display: none;
}
@media (max-width: 920px) {
	nav .navbar {
		max-width: 100%;
		padding: 0 25px;
	}

	nav .navbar .logo a {
		font-size: 27px;
	}
	nav .navbar .links li {
		padding: 0 10px;
		white-space: nowrap;
	}
	nav .navbar .links li a {
		font-size: 15px;
	}
}
@media (max-width: 800px) {
	/* nav {
		position: relative;
	} */
	.navbar .bx-menu {
		display: block;
		cursor: pointer;
		font-size: 18px;
	}
	nav .navbar .nav-links {
		position: fixed;
		top: 0;
		left: -100%;
		display: block;
		max-width: 270px;
		width: 100%;
		background-color: #002791;
		line-height: 40px;
		padding: 20px;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		transition: all 0.5s ease;
		z-index: 1000;
	}
	.navbar .nav-links .sidebar-logo {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.sidebar-logo img {
		height: 70px;
		object-fit: cover;
	}
	.sidebar-logo i,
	.navbar .bx-menu,
	.bx-x {
		font-size: 30px;
		color: #fff;
	}
	nav .navbar .links {
		display: block;
		margin-top: 20px;
	}
	nav .navbar .links li .arrow {
		line-height: 40px;
	}
	nav .navbar .links li {
		display: block;
	}
	nav .navbar .links li .sub-menu {
		position: relative;
		top: 0;
		box-shadow: none;
		display: none;
	}
	nav .navbar .links li .sub-menu li {
		border-bottom: none;
	}
	.navbar .links li .sub-menu .more-sub-menu {
		display: none;
		position: relative;
		left: 0;
	}
	.navbar .links li .sub-menu .more-sub-menu li {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.links li:hover .htmlcss-arrow,
	.links li:hover .js-arrow {
		transform: rotate(0deg);
	}
	.navbar .links li .sub-menu .more-sub-menu {
		display: none;
	}
	.navbar .links li .sub-menu .more span {
		/* background: red; */
		display: flex;
		align-items: center;
		/* justify-content: space-between; */
	}

	.links li .sub-menu .more:hover .more-sub-menu {
		display: none;
	}
	nav .navbar .links li:hover .htmlCss-sub-menu,
	nav .navbar .links li:hover .js-sub-menu {
		display: none;
	}
	.navbar .nav-links.show1 .links .htmlCss-sub-menu,
	.navbar .nav-links.show3 .links .js-sub-menu,
	.navbar .nav-links.show2 .links .more .more-sub-menu {
		display: block;
	}
	.navbar .nav-links.show1 .links .htmlcss-arrow,
	.navbar .nav-links.show3 .links .js-arrow {
		transform: rotate(180deg);
	}
	.navbar .nav-links.show2 .links .more-arrow {
		transform: rotate(90deg);
	}
}
@media (max-width: 370px) {
	nav .navbar .nav-links {
		max-width: 100%;
	}
}
/* End of Navbar */

/* Showcase about */
.showcase {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin-top: var(--margin-about);
	padding-top: var(--padding-about-1);
}
.showcase > h2 {
	color: #fff;
	font-size: var(--biggest-font-size);
	font-weight: 600;
}
.showcase > p {
	color: #fff;
	font-size: var(--h4-font-size);
}

/* About content description */
.about-info {
	max-width: 100%;
	background: #fff;
	min-height: 350px;
	width: 100%;
}
.about-content-container {
	max-width: 1040px;
	width: calc(100% - 2rem);
	padding: var(--padding-about) 0;
}
.about-content-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5rem;
	margin: 2rem auto;
}
.about-left {
	padding: 3rem 0;
}
.about-title-content > span {
	font-size: var(--h3-font-size);
	color: #f68c1f;
	text-transform: capitalize;
}
.about-title-content > h2 {
	font-size: var(--h1-font-size);
	color: #002791;
	font-weight: 700;
}
.about-title-content > h2::after {
	content: '';
	display: block;
	margin: 0;
	width: 10%;
	padding: 10px 0;
	border-bottom: 3px solid #f68c1f;
}
.about-title-brief {
	margin: 1rem 0;
	padding: 1rem 0;
	width: 80%;
}
.about-title-brief > span {
	font-size: var(--h2-font-size);
	font-weight: 600;
	color: #3e3e3e;
}
.about-description-content {
	width: 90%;
	padding-bottom: 1rem;
}
.about-description-content > p {
	font-size: var(--h4-font-size);
	color: #3e3e3e;
}
.about-brief-info {
	height: 100%;
	width: 100%;
	line-height: 2;
	display: flex;
	align-items: center;
}
.about-brief-info img {
	width: 21px;
	height: 21px;
}
.about-brief-info > i {
	font-size: var(--h4-font-size);
}
.about-brief-info > span {
	font-size: var(--h4-font-size);
	margin-left: 0.5rem;
	color: #3e3e3e;
}
.about-content-right > img {
	width: 100%;
	height: 100%;
}

/* Mission section */
.mission-container {
	background: #00279107;
	max-width: 100%;
	min-height: 350px;
	width: 100%;
	padding: 2rem;
}
.mission-title {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.mission-title > span {
	font-size: var(--h3-font-size);
	color: #f68c1f;
	text-transform: capitalize;
}
.mission-title > h2 {
	font-size: var(--h1-font-size);
	color: #002791;
	font-weight: 700;
}
.mission-title-1::after {
	content: '';
	display: block;
	margin: 0 auto;
	width: 23%;
	padding-top: 20px;
	border-bottom: 3px solid #f68c1f;
}
.section-grid-1 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1em;
	margin: 2rem auto;
}
.section-container-1 {
	max-width: 1040px;
	min-height: 350px;
	width: 100%;
}
.mission-card {
	padding: 3rem 1rem;
	width: 342px;
	height: 305px;
	border-radius: 7px;
	background: #fff;
}
.mission-card > h3 {
	font-size: var(--h4-font-size);
	margin-top: 2rem;
	font-weight: 600;
	text-align: center;
}
.mission-card > p {
	text-align: center;
}

/* Let's Get Started section */
.started-info {
	max-width: 100%;
	background: #fff;
	min-height: 350px;
	width: 100%;
}
.started-content-container {
	/* max-width: 1040px; */
	padding: var(--padding-about) 0;
}
.started-content-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5rem;
	margin: 2rem auto;
}
.started-left {
	padding: 5rem;
	width: 100%;
	margin: 0 auto;
}
.started-title-content > span {
	font-size: var(--h3-font-size);
	color: #f68c1f;
	text-transform: capitalize;
}
.started-title-content > h2 {
	font-size: var(--h1-font-size);
	color: #002791;
	font-weight: 600;
}
.started-title-1::after {
	content: '';
	display: block;
	margin: 0;
	width: 10%;
	padding: 10px 0;
	border-bottom: 3px solid #f68c1f;
}
.started-description-content {
	width: 90%;
	padding: 3rem 0;
}
.started-description-content > p {
	font-size: var(--h4-font-size);
}
.showcase-actions {
	margin-top: 1rem;
}
.showcase-actions .button {
	background-color: #f68c1f;
	border: 2px solid #f68c1f;
	color: #fff;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	border-radius: 30px;
	cursor: pointer;
	transition: 0.2s ease;
}
.showcase-actions .button:hover {
	background-color: transparent;
	border: 2px solid #f68c1f;
	color: #f68c1f;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	border-radius: 30px;
	cursor: pointer;
}
.started-content-right {
	background-color: #002791;
	min-height: 350px;
}
.right-content-inner {
	margin: 1rem 4rem;
	padding: 2.5rem 0;
	width: 308px;
}
.started-title-right {
	padding: 1rem 0;
}
.started-title-right > span {
	font-size: var(--h3-font-size);
	color: #f68c1f;
	text-transform: capitalize;
}
.started-title-right > h2 {
	font-size: var(--h1-font-size);
	font-weight: 600;
	color: #fff;
}
.started-title-right > h2::after {
	content: '';
	display: block;
	margin: 0;
	width: 15%;
	padding: 10px 0;
	border-bottom: 3px solid #f68c1f;
}
.right-content-inner input[type='text'],
.right-content-inner select {
	margin: 0.5em 0px;
	padding: 0.5rem;
	font-size: 17px;
	border: none;
	border-radius: 2px;
	line-height: 1;
	width: 100%;
}
.right-content-inner input:focus,
.right-content-inner select {
	background: #fff;
	outline: none;
	color: #434343;
	line-height: 1;
	border: none;
}
.right-content-inner ::placeholder {
	color: #434343;
}
.showcase-actions .button-1 {
	background-color: #f68c1f;
	border: 2px solid #f68c1f;
	color: #fff;
	padding: 15px 38px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	font-weight: 600;
	border-radius: 30px;
	cursor: pointer;
	transition: 0.2s ease;
}
/* Our Team container */
.team-container {
	background: #fff;
	max-width: 100%;
	min-height: 400px;
	width: 100%;
	padding: 2rem;
}
.section-grid-2 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1em;
	margin: 2rem auto;
}
.section-container-2 {
	max-width: 1040px;
	min-height: 350px;
	width: 100%;
}
.team-title {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.team-title > span {
	font-size: var(--h3-font-size);
	color: #f68c1f;
	text-transform: capitalize;
}
.team-title > h2 {
	font-size: var(--h1-font-size);
	color: #002791;
	font-weight: 700;
}
.team-title-45::after {
	content: '';
	display: block;
	margin: 0 auto;
	width: 13%;
	padding-top: 20px;
	border-bottom: 3px solid #f68c1f;
}
.team-card {
	position: relative;
	padding: 1rem;
	width: 252px;
	min-height: 350px;
	border-radius: 7px;
	background: #fff;
}
.img-div img {
	width: 222px;
	height: 244px;
}
.team-title-1 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 1rem 0;
}
.team-title-1 > span {
	font-size: var(--h4-font-size);
	color: #3e3e3e;
}
.team-title-1 > h2 {
	font-size: var(--h3-font-size);
	font-weight: 600;
	color: #3e3e3e;
}
.team-icons {
	margin: 1rem 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.team-img img {
	width: 21px;
	height: 21px;
	cursor: pointer;
}
/* Footer section */
.footer-container {
	background: #002791;
	max-width: 100%;
	min-height: 400px;
	width: 100%;
	padding: 2rem;
}
.footer-logo {
	margin: 1rem auto;
	display: flex;
	justify-content: center;
}
.footer-logo img {
	height: 110px;
	object-fit: cover;
}

.footer-links ul {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 0;
}
.footer-links ul li {
	padding: 0 1rem;
}
.footer-links ul li a {
	color: #fff;
	transition: 0.5s ease;
}
.footer-links ul li a:hover {
	color: #f68c1f;
}
.footer-icons {
	display: flex;
	justify-content: center;
	gap: 1em;
	margin-top: -1rem;
	margin-bottom: 1rem;
}
.footer-img img {
	width: 26px;
	height: 26px;
	cursor: pointer;
}
.footer-copyright {
	display: flex;
	justify-content: center;
}
.footer-copyright p {
	padding: 0 0.8rem;
	color: #fff;
	font-size: var(--normal-font-size);
}
.footer-copyright p:nth-child(3) {
	color: #f68c1f;
}

/* Media Queries */
@media screen and (max-width: 576px) {
	.navbar .logo img,
	.navbar .search-box {
		display: none;
	}
	.navbar .action-links {
		padding-top: 0;
	}
	.showcase {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		margin: 1rem auto;
		min-height: 200px;
		background: transparent;
		max-width: 1040px;
		width: calc(100% - 2rem);
	}
	.showcase-header {
		max-width: 80%;
	}
	.showcase-header h2 {
		font-size: 2rem;
		font-weight: 700;
	}
	.showcase-description {
		margin: 1rem 0;
		width: 100%;
		color: #f8f9fa;
		overflow-wrap: break-word;
	}
	.showcase-actions {
		padding: 1rem 0;
	}
	.showcase .button {
		background-color: transparent;
		border: 2px solid #fff;
		color: #fff;
		margin: 1rem 0;
		padding: 10px 25px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		font-weight: 600;
		border-radius: 30px;
		cursor: pointer;
		transition: 0.2s ease;
	}
	.showcase .button:hover {
		background-color: #f68c1f;
		border: 2px solid #f68c1f;
		color: #fff;
		padding: 10px 25px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		font-weight: 600;
		border-radius: 30px;
		cursor: pointer;
		transition: 0.2s ease;
	}
	.showcase .button-1 {
		background-color: #fff;
		border: 2px solid #fff;
		color: #f68c1f;
		padding: 10px 25px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		font-weight: 600;
		border-radius: 30px;
		cursor: pointer;
	}
	.section-grid-1 {
		display: grid;
		grid-template-columns: auto;
		justify-content: center;
		align-content: center;
		gap: 1em;
		margin: 2rem auto;
	}
	.section-grid-2 {
		display: grid;
		grid-template-columns: auto;
		justify-content: center;
		align-content: center;
		gap: 1em;
		margin: 2rem auto;
	}
	.about-content-grid {
		display: grid;
		grid-template-columns: auto;
		justify-content: center;
		align-content: center;
		gap: 1.5rem;
		margin: 2rem auto;
	}
	.started-content-grid {
		display: grid;
		grid-template-columns: auto;
		justify-content: center;
		align-content: center;
		gap: 1.5rem;
		margin: 2rem auto;
	}
	.footer-links ul {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 1rem;
		align-items: center;
		padding: 2rem 0;
	}
	.footer-copyright {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1rem;
	}
}
@media screen and (min-width: 576px) and (max-width: 768px) {
	.navbar .logo img,
	.navbar .search-box {
		display: none;
	}
	.navbar .action-links {
		padding-top: 0;
	}
	.showcase {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		margin: 1rem auto;
		min-height: 200px;
		background: transparent;
		max-width: 1040px;
		width: calc(100% - 2rem);
	}
	.showcase-header {
		max-width: 80%;
	}
	.showcase-description {
		margin: 1rem 0;
		width: 80%;
		color: #f8f9fa;
		overflow-wrap: break-word;
	}
}

@media screen and (min-width: 768px) and (max-width: 960px) {
	.navbar .logo img,
	.navbar .search-box {
		display: none;
	}
	.showcase {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		margin: 1rem auto;
		min-height: 200px;
		background: transparent;
		max-width: 1040px;
		width: calc(100% - 2rem);
	}
	.showcase-header {
		max-width: 50%;
	}
}

@media screen and (min-width: 576px) and (max-width: 1024px) {
	.section-grid-1 {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-content: center;
		align-content: center;
		gap: 1em;
		margin: 2rem auto;
	}
	.section-container-1 {
		max-width: 1040px;
		min-height: 350px;
		width: 100%;
	}
	.started-content-grid {
		display: grid;
		grid-template-columns: auto;
		justify-content: center;
		align-content: center;
		gap: 1.5rem;
		margin: 2rem auto;
	}
	.section-grid-2 {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-content: center;
		align-content: center;
		gap: 1em;
		margin: 2rem auto;
	}
	.about-content-grid {
		display: grid;
		grid-template-columns: auto;
		justify-content: center;
		align-content: center;
		gap: 1.5rem;
		margin: 2rem auto;
	}
}
