@import url('https://fonts.googleapis.com/css2?family=Poppins:400&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
/*===== VARIABLES CSS =====*/
:root {
	--header-height: 3rem;

	/*========== Colors ==========*/
	--first-color: #00db1a;
	--first-color-alt: #00db1a;
	--background-icon-color: #c3f6c3;
	--icon-color: #00db1a;
	--title-color: #393939;
	--text-color: rgb(33, 43, 54);
	--nav-text-color: #ffffff;
	--text-color-light: #a6a6a6;
	--body-color: #fbfefd;
	--container-color: #ffffff;
	--padding-about: 1rem;
	--margin-about: 6rem;
	--padding-about-1: 3rem;
	--min-height: 75vh;

	/*========== Font and typography ==========*/
	--body-font: 'Poppins', sans-serif;
	--biggest-font-size: 2.25rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1rem;
	--h4-font-size: 0.985rem;
	--normal-font-size: 0.938rem;
	--small-font-size: 0.813rem;
	--smaller-font-size: 0.75rem;

	/*========== Font weight ==========*/
	--font-medium: 500;
	--font-semi-bold: 600;

	/*========== Margins ==========*/
	--mb-1: 0.5rem;
	--mb-2: 1rem;
	--mb-3: 1.5rem;
	--mb-4: 2rem;
	--mb-5: 2.5rem;
	--mb-6: 3rem;

	/*========== z index ==========*/
	--z-tooltip: 99;
	--z-fixed: 100;
}
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
	:root {
		--biggest-font-size: 3rem;
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1.25rem;
		--h4-font-size: 1.15rem;
		--normal-font-size: 1rem;
		--small-font-size: 0.875rem;
		--smaller-font-size: 0.813rem;
		--padding-about: 2rem;
		--margin-about: 6.5rem;
		--padding-about-1: 4.5rem;
		--min-height: 65vh;
	}
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media screen and (min-width: 768px) {
	:root {
		--biggest-font-size: 3rem;
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1.25rem;
		--h4-font-size: 1.15rem;
		--normal-font-size: 1rem;
		--small-font-size: 0.875rem;
		--smaller-font-size: 0.813rem;
		--padding-about: 2rem;
		--margin-about: 6.5rem;
		--padding-about-1: 4.5rem;
		--min-height: 70vh;
	}
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
header {
	height: 620px;
	position: relative;
	background-size: cover;
	background-position: center;
	background-image: url('/images/about.jpg');
}
.navbar {
	background-color: transparent;
	color: #fff;
	height: 70px;
}
.nav-links {
	padding-top: 2rem;
}
.nav-actions {
	padding-top: 2rem;
}
.action-links {
	display: flex;
	align-items: center;
}
.navbar ul {
	display: flex;
}
.navbar a {
	color: #fff;
	padding: 10px;
	margin: 0 5px;
	font-size: 18px;
	font-weight: 550;
	transition: 0.5s ease;
}
.navbar a:hover {
	color: #f68c1f;
}
.navbar .button {
	background-color: #f68c1f;
	border: 2px solid #f68c1f;
	color: #fff;
	padding: 15px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	font-weight: 600;
	border-radius: 30px;
	cursor: pointer;
	transition: 0.2s ease;
}
.navbar .button:hover {
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
	padding: 15px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	font-weight: 600;
	border-radius: 30px;
	cursor: pointer;
}
.nav-actions > div > i {
	font-size: 1.5rem;
	padding: 1rem;
	cursor: pointer;
}
.navbar .flex {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}
.navbar .container {
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
	padding: 4rem 40px;
}
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.logo img {
	height: 70px;
	object-fit: cover;
}

/* Showcase about */
.showcase {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin-top: var(--margin-about);
	padding-top: var(--padding-about-1);
}
.showcase > h2 {
	color: #fff;
	font-size: var(--biggest-font-size);
	font-weight: 600;
}
.showcase > p {
	color: #fff;
	font-size: var(--h4-font-size);
}

/* About content description */
.about-info {
	max-width: 100%;
	background: #fff;
	min-height: 350px;
	width: 100%;
}
.about-content-container {
	max-width: 1040px;
	width: calc(100% - 2rem);
	padding: var(--padding-about) 0;
}
.about-content-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5rem;
	margin: 2rem auto;
}
.about-left {
	padding: 3rem 0;
}
.about-title-content > span {
	font-size: var(--h3-font-size);
	color: #f68c1f;
	text-transform: capitalize;
}
.about-title-content > h2 {
	font-size: var(--h1-font-size);
	color: #002791;
	font-weight: 700;
}
.about-title-content > h2::after {
	content: '';
	display: block;
	margin: 0;
	width: 8%;
	padding: 10px 0;
	border-bottom: 3px solid #f68c1f;
}

.about-title-brief {
	margin: 1rem 0;
	padding: 1rem 0;
	width: 80%;
}
.about-title-brief > span {
	font-size: var(--h2-font-size);
	font-weight: 600;
}
.about-description-content {
	width: 90%;
	padding-bottom: 1rem;
}
.about-description-content > p {
	font-size: var(--h4-font-size);
	color: #3e3e3e;
}
.about-brief-info {
	height: 100%;
	width: 100%;
	line-height: 2;
	display: flex;
	align-items: center;
}
.about-brief-info img {
	width: 21px;
	height: 21px;
}
.about-brief-info > i {
	font-size: var(--h4-font-size);
}
.about-brief-info > span {
	font-size: var(--h4-font-size);
	margin-left: 0.5rem;
	color: #3e3e3e;
}
.about-content-right > img {
	width: 100%;
	height: 100%;
}

/* Mission section */
.mission-container {
	background: #00279107;
	max-width: 100%;
	min-height: 350px;
	width: 100%;
	padding: 2rem;
}
.mission-title {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.mission-title > span {
	font-size: var(--h3-font-size);
	color: #f68c1f;
	text-transform: capitalize;
}
.mission-title > h2 {
	font-size: var(--h1-font-size);
	color: #002791;
	font-weight: 700;
}
.mission-title > h2::after {
	content: '';
	display: block;
	margin: 0 auto;
	width: 18%;
	padding-top: 20px;
	border-bottom: 4px solid #f68c1f;
}
.section-grid-1 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1em;
	margin: 2rem auto;
}
.section-container-1 {
	max-width: 1040px;
	min-height: 350px;
	width: 100%;
}
.mission-card {
	padding: 3rem 1rem;
	width: 342px;
	height: 305px;
	border-radius: 7px;
	background: #fff;
}
.mission-card > h3 {
	font-size: var(--h4-font-size);
	margin-top: 2rem;
	font-weight: 600;
	text-align: center;
}
.mission-card > p {
	text-align: center;
}

/* Let's Get Started section */
.started-info {
	max-width: 100%;
	background: #fff;
	min-height: 350px;
	width: 100%;
}
.started-content-container {
	/* max-width: 1040px; */
	padding: var(--padding-about) 0;
}
.started-content-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5rem;
	margin: 2rem auto;
}
.started-left {
	padding: 5rem;
	width: 100%;
	margin: 0 auto;
}
.started-title-content > span {
	font-size: var(--h3-font-size);
	color: #f68c1f;
	text-transform: capitalize;
}
.started-title-content > h2 {
	font-size: var(--h1-font-size);
	color: #002791;
	font-weight: 600;
}
.started-title-content > h2::after {
	content: '';
	display: block;
	margin: 0;
	width: 8%;
	padding: 10px 0;
	border-bottom: 3px solid #f68c1f;
}
.started-description-content {
	width: 90%;
	padding: 3rem 0;
}
.started-description-content > p {
	font-size: var(--h4-font-size);
}
.showcase-actions {
	margin-top: 1rem;
}
.showcase-actions .button {
	background-color: #f68c1f;
	border: 2px solid #f68c1f;
	color: #fff;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	border-radius: 30px;
	cursor: pointer;
	transition: 0.2s ease;
}
.showcase-actions .button:hover {
	background-color: transparent;
	border: 2px solid #f68c1f;
	color: #f68c1f;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	border-radius: 30px;
	cursor: pointer;
}
.started-content-right {
	background-color: #002791;
	min-height: 350px;
}
.right-content-inner {
	margin: 1rem 4rem;
	padding: 2.5rem 0;
	width: 308px;
}
.started-title-right {
	padding: 1rem 0;
}
.started-title-right > span {
	font-size: var(--h3-font-size);
	color: #f68c1f;
	text-transform: capitalize;
}
.started-title-right > h2 {
	font-size: var(--h1-font-size);
	font-weight: 600;
	color: #fff;
}
.started-title-right > h2::after {
	content: '';
	display: block;
	margin: 0;
	width: 15%;
	padding: 10px 0;
	border-bottom: 3px solid #f68c1f;
}
.right-content-inner input[type='text'],
.right-content-inner select {
	margin: 0.5em 0px;
	padding: 0.5rem;
	font-size: 17px;
	border: none;
	border-radius: 2px;
	line-height: 1;
	width: 100%;
}
.right-content-inner input:focus,
.right-content-inner select {
	background: #fff;
	outline: none;
	color: #434343;
	line-height: 1;
	border: none;
}
.right-content-inner ::placeholder {
	color: #434343;
}
.showcase-actions .button-1 {
	background-color: #f68c1f;
	border: 2px solid #f68c1f;
	color: #fff;
	padding: 15px 38px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	font-weight: 600;
	border-radius: 30px;
	cursor: pointer;
	transition: 0.2s ease;
}
/* Our Team container */
.team-container {
	background: #fff;
	max-width: 100%;
	min-height: 400px;
	width: 100%;
	padding: 2rem;
}
.section-grid-2 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1em;
	margin: 2rem auto;
}
.section-container-2 {
	max-width: 1040px;
	min-height: 350px;
	width: 100%;
}
.team-title {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.team-title > span {
	font-size: var(--h3-font-size);
	color: #f68c1f;
	text-transform: capitalize;
}
.team-title > h2 {
	font-size: var(--h1-font-size);
	color: #002791;
	font-weight: 700;
}
.team-title > h2::after {
	content: '';
	display: block;
	margin: 0 auto;
	width: 18%;
	padding-top: 20px;
	border-bottom: 4px solid #f68c1f;
}
.team-card {
	position: relative;
	padding: 1rem;
	width: 252px;
	min-height: 350px;
	border-radius: 7px;
	background: #fff;
}
.img-div img {
	width: 222px;
	height: 244px;
}
.team-title-1 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 1rem 0;
}
.team-title-1 > span {
	font-size: var(--h4-font-size);
	color: #3e3e3e;
}
.team-title-1 > h2 {
	font-size: var(--h3-font-size);
	font-weight: 600;
	color: #3e3e3e;
}
.team-icons {
	margin: 1rem 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.team-img img {
	width: 21px;
	height: 21px;
}
/* Footer section */
.footer-container {
	background: #002791;
	max-width: 100%;
	min-height: 400px;
	width: 100%;
	padding: 2rem;
}
.footer-logo {
	margin: 1rem auto;
	display: flex;
	justify-content: center;
}
.footer-logo img {
	height: 110px;
	object-fit: cover;
}

.footer-links ul {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 0;
}
.footer-links ul li {
	padding: 0 1rem;
}
.footer-links ul li a {
	color: #fff;
	transition: 0.5s ease;
}
.footer-links ul li a:hover {
	color: #f68c1f;
}
.footer-copyright {
	display: flex;
	justify-content: center;
}
.footer-copyright p {
	padding: 0 0.8rem;
	color: #fff;
	font-size: var(--normal-font-size);
}
.footer-copyright p:nth-child(3) {
	color: #f68c1f;
}
